<app-headermenu></app-headermenu>

<mat-card
  style="
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0px;
    margin: 0px;
    margin-top: 1rem;
  "
  class="sh-l"
>
  <mat-tab-group
    dynamicHeight
    mat-align-tabs="center"
    animationDuration="1000ms"
    class="custom-tab f-vasir"
  >
    <mat-tab label="ورود">
      <div class="lll">
        <div class="example-small-box r" id="login" style="box-shadow: none">
          <app-login></app-login>
        </div>
      </div>
    </mat-tab>
    <mat-tab style="font-weight: bold;" label="ثبت نام">
      <div class="lll">
        <div class="example-large-box r" id="signup" style="box-shadow: none">
          <app-signup></app-signup>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>
