.card {
  background-color: rgb(224, 224, 224);
}

.c1 {
  background-color: rgb(224, 224, 224);
  margin-top: 1rem;
}

.c2 {
  background-color: rgb(255, 233, 203);
  margin-top: 1rem;
}

.c3 {
  background-color: rgb(182, 211, 197);
  margin-top: 1rem;
}

.p {
  padding-top: 1rem;
  padding-right: 1rem;
}

.packagename {
  font-weight: bold;
  font-size: 16px;
}

.wrapper {
  display: flex;
  overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
  width: 0px;
}

.wrapper .item {
  text-align: center;
  background-color: #ddd;
}

.pkg {
  font-size: 20px;
  border-radius: 15em;
  padding: 0.5em 3em;
  background-color: rgb(139, 166, 253);
  color: white;
}

.pkg-name {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.p1 {
  text-align: center;
  padding-top: 0.5rem;
}

.button {
  text-align: center;
  width: 150px;
  color: white;
  background-color: #ff6e31;
  border: none;
}

.card1 {
  height: 280px;
}

.card2 {
  max-height: 350px;
}
@media (min-width:450px) {
  .full{
    display: flex;
    // justify-content-between
    justify-content: space-around;

  }
}


.scrolling-wrapper{
	overflow-x: auto;
}

.subtitle{
	font-size: 1.25em;
	opacity: 0.65;
}

