<div *ngIf="token == true">
  <app-headermenu></app-headermenu>
<div *ngIf="formView">
    <mat-card style="margin-top: 1rem; box-shadow: none; border: none">
      <p style="font-weight: bold; font-size: 12px; text-align: center">
        اطلاعات شخصی
      </p>
      <div style="padding-bottom: 2rem; width: 100%; padding-right: 2.5rem">
        <p>نام : {{ formView.registrator.FirstName }}</p>
        <p>نام خانوادگی : {{ formView.registrator.LastName }}</p>
        <p>ایمیل : {{ formView.registrator.Email }}</p>
        <p>تلفن : {{ formView.registrator.Phone }}</p>
      </div>
    </mat-card>
    <mat-divider> </mat-divider>

    <div style="padding-bottom: 1rem">
      <h1
          style="
            font-size: 18px;
            color: #000080;
            text-align: center;
            padding-top: 2rem;
            font-weight: bold;
          "
        >
        {{ formTitle }}
      </h1>
    </div>

    <div class="survey-options">
      <ol class="list-style">
        <li
          *ngFor="let qst of formView.questions; let i = index"
        >
          <div [ngSwitch]="qst.Type">
            <div *ngSwitchCase="'Text'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <textarea
                style="font-size: 12px; border: none;width: 270px;"
                [placeholder]="qst.SelectedAnswers"
                [disabled]="true"
              ></textarea>
            </div>

            <div *ngSwitchCase="'Radio Button'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <mat-radio-group class="example-radio-group">
                <mat-radio-button
                  style="padding-bottom: 0.5rem"
                  *ngFor="let ans of qst.UserAnswers; let j = index"
                  [value]="ans.optionText"
                  [checked]="isCheckedRB(i, j)"
                  disabled="true"
                >
                  <span style="padding-right: 0.5rem">{{
                    ans.optionText
                  }}</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngSwitchCase="'Check Box'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <ul
                style="list-style: none; padding-right: 0px"
                *ngFor="let ans of qst.UserAnswers; let k = index"
              >
                <mat-checkbox
                  required="true"
                  color="primary"
                  class="example-margin"
                  style="font-size: 12px; padding-bottom: 0.2rem"
                  [value]="ans.optionText"
                  [checked]="isCheckedCB(i, k)"
                  [disabled]="true"
                >
                  <span
                    style="
                      padding-right: 0.5rem;
                      display: block;
                      overflow: hidden;
                      text-overflow: clip;
                      white-space: break-spaces;
                      overflow: hidden;
                    "
                  >
                    {{ ans.optionText }}
                  </span>
                </mat-checkbox>
              </ul>
            </div>

            <div *ngSwitchCase="'Calendar'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <p>{{ qst.SelectedAnswers }}</p>
            </div>

            <div *ngSwitchCase="'File'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <p>آپلود فایل</p>
            </div>
          </div>
          <span
              *ngIf="i != formView.questions.length - 1"
              style="margin-right: 1rem"
              >--------------------------------</span
            >
        </li>
      </ol>
    </div>
    <div style="padding-top: 1rem" class="button-row"></div>
</div>
</div>

<div *ngIf="token == false">
  <header style="box-shadow: 8px 2px 5px 2px white">
    <mat-toolbar
      style="
        box-shadow: 8px 2px 5px 2px rgb(228, 228, 228);
        background-color: white;
        border-bottom: thin;
        border-bottom-style: groove;
        border-bottom-color: rgb(230, 230, 230);
      "
    >
      <mat-toolbar-row>
        <div style="cursor: pointer; margin-right: 1rem" routerLink="/">
          <svg
            style="width: 30px; height: 30px; padding-left: 0.2rem"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0,0,256,256"
            width="96px"
            height="96px"
            fill-rule="nonzero"
          >
            <defs>
              <linearGradient
                x1="21.241"
                y1="39.241"
                x2="3.541"
                y2="21.541"
                gradientUnits="userSpaceOnUse"
                id="color-1"
              >
                <stop offset="0.108" stop-color="#000000"></stop>
                <stop offset="0.433" stop-color="#000080"></stop>
              </linearGradient>
              <linearGradient
                x1="44.41029"
                y1="9.58989"
                x2="14.59"
                y2="39.41123"
                gradientUnits="userSpaceOnUse"
                id="color-2"
              >
                <stop offset="0" stop-color="#0000cb"></stop>
                <stop offset="1" stop-color="#000043"></stop>
              </linearGradient>
            </defs>
            <g
              fill="none"
              fill-rule="nonzero"
              stroke="none"
              stroke-width="1"
              stroke-linecap="butt"
              stroke-linejoin="miter"
              stroke-miterlimit="10"
              stroke-dasharray=""
              stroke-dashoffset="0"
              font-family="none"
              font-weight="none"
              font-size="none"
              text-anchor="none"
              style="mix-blend-mode: normal"
            >
              <g transform="scale(5.33333,5.33333)">
                <path
                  d="M16.599,41.42l-15.019,-15.019c-0.774,-0.774 -0.774,-2.028 0,-2.802l4.019,-4.019c0.774,-0.774 2.028,-0.774 2.802,0l15.019,15.019c0.774,0.774 0.774,2.028 0,2.802l-4.019,4.019c-0.774,0.773 -2.028,0.773 -2.802,0z"
                  fill="url(#color-1)"
                ></path>
                <path
                  d="M12.58,34.599l27.019,-27.019c0.774,-0.774 2.028,-0.774 2.802,0l4.019,4.019c0.774,0.774 0.774,2.028 0,2.802l-27.019,27.019c-0.774,0.774 -2.028,0.774 -2.802,0l-4.019,-4.019c-0.773,-0.774 -0.773,-2.028 0,-2.802z"
                  fill="url(#color-2)"
                ></path>
              </g>
            </g>
          </svg>
          <span
            style="font-family: YekanBakh-ExtraBlack !important; font-size: 20px"
            >فرم‌</span
          >
          <span
            style="
              font-family: YekanBakh-ExtraBlack !important;
              font-size: 20px;
              color: #000080;
              padding-left: 1rem;
            "
            >لاین</span
          >
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <div *ngIf="formView">
    <mat-card style="margin-top: 1rem; box-shadow: none; border: none">
      <p style="font-weight: bold; font-size: 12px; text-align: center">
        اطلاعات شخصی
      </p>
      <div style="padding-bottom: 2rem; width: 100%; padding-right: 2.5rem">
        <p>نام : {{ formView.registrator.FirstName }}</p>
        <p>نام خانوادگی : {{ formView.registrator.LastName }}</p>
        <p>ایمیل : {{ formView.registrator.Email }}</p>
        <p>تلفن : {{ formView.registrator.Phone }}</p>
      </div>
    </mat-card>
    <mat-divider> </mat-divider>

    <div style="padding-bottom: 1rem">
      <h1
          style="
            font-size: 18px;
            color: #000080;
            text-align: center;
            padding-top: 2rem;
            font-weight: bold;
          "
        >
        {{ formTitle }}
      </h1>
    </div>

    <div class="survey-options">
      <ol class="list-style">
        <li
          *ngFor="let qst of formView.questions; let i = index"
        >
          <div [ngSwitch]="qst.Type">
            <div *ngSwitchCase="'Text'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <textarea
                style="font-size: 12px; border: none;width: 270px;"
                [placeholder]="qst.SelectedAnswers"
                [disabled]="true"
              ></textarea>
            </div>

            <div *ngSwitchCase="'Radio Button'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <mat-radio-group class="example-radio-group">
                <mat-radio-button
                  style="padding-bottom: 0.5rem"
                  *ngFor="let ans of qst.UserAnswers; let j = index"
                  [value]="ans.optionText"
                  [checked]="isCheckedRB(i, j)"
                  disabled="true"
                >
                  <span style="padding-right: 0.5rem">{{
                    ans.optionText
                  }}</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngSwitchCase="'Check Box'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <ul
                style="list-style: none; padding-right: 0px"
                *ngFor="let ans of qst.UserAnswers; let k = index"
              >
                <mat-checkbox
                  required="true"
                  color="primary"
                  class="example-margin"
                  style="font-size: 12px; padding-bottom: 0.2rem"
                  [value]="ans.optionText"
                  [checked]="isCheckedCB(i, k)"
                  [disabled]="true"
                >
                  <span
                    style="
                      padding-right: 0.5rem;
                      display: block;
                      overflow: hidden;
                      text-overflow: clip;
                      white-space: break-spaces;
                      overflow: hidden;
                    "
                  >
                    {{ ans.optionText }}
                  </span>
                </mat-checkbox>
              </ul>
            </div>

            <div *ngSwitchCase="'Calendar'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <p>{{ qst.SelectedAnswers }}</p>
            </div>

            <div *ngSwitchCase="'File'">
              <p style="border: none; font-weight: bold">
                {{ qst.Title }}
              </p>
              <p>آپلود فایل</p>
            </div>
          </div>
          <span
              *ngIf="i != formView.questions.length - 1"
              style="margin-right: 1rem"
              >--------------------------------</span
            >
        </li>
      </ol>
    </div>
    <div style="padding-top: 1rem" class="button-row"></div>
</div>
</div>
