body {
  direction: rtl;
}
.col {
  margin-top: 12px;
  display: inline-block;
  position: relative;
}

.mat-tab-label-container {
  display: flex;
  flex-grow: 2;
  overflow: hidden;
  z-index: 1;
  justify-content: center !important;
  padding: 0px;
}

.textbox {
  width: 200px;
  padding: 4px 0;
  font: 14px/24px Vazirmatn, "Lato", Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
}

.textbox ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}

.textbox:focus ~ .focus-border,
.has-content.textbox ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.textbox ~ label {
  text-align: right;
  position: absolute;
  right: 15px;
  width: 100%;
  top: 9px;
  color: rgb(128, 126, 126);
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.textbox:focus ~ label,
.has-content.textbox ~ label {
  top: -16px;
  font-size: 12px;
  color: #3399ff;
  transition: 0.3s;
}

.textbox:focus {
  outline: none;
}

.button-radius {
  border-radius: 10em;
  padding: 0.4em 1.5em;
}

.d-c {
  display: contents;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
  margin-top: 10px;
  width: 100px;
}

.mat {
  width: 100px;
  text-align: right;
}

input.mat-input-element {
  height: 20px;
}

.mat-form-field {
  width: 50px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: flex;
}

input.example-right-align {
  -moz-appearance: textfield;
}

input.mat-input-element {
  height: 20px;
}

.btn-p:focus {
  outline: none;
  box-shadow: none;
}

.f-mini {
  font-size: 13px;
}

.mat-icon {
  font-size: 15px !important;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.example-small-box,
.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 270px;
  width: 350px;
}

.example-large-box {
  height: 450px;
  width: 350px;
}

.lll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-f {
  font-size: 10px;
  font-weight: bold;
}

.r {
  border-radius: 20px;
}

.d-c {
  display: contents;
}

.custom-tab {
  margin: 20px;
  direction: rtl;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 15px;
  max-width: 75%;
  min-width: 25%;
}

.btn-p:focus {
  outline: none;
  box-shadow: none;
}

.btn-p::after {
  background-color: #0562c7;
}

.filler {
  flex: 1 1 auto;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.title-center {
  margin: 0 auto;
  color: white;
}

.title-toolbar {
  background: green;
}

/* .......... */
.w-c {
  color: white;
}

.w-c:hover {
  color: white;
}

.font-toolbar {
  font-size: 23px;
}

.mat-icon {
  transform: scale(1.8);
  margin-top: 0px;
}

.img-icon {
  padding: 30px 80px;
}

.font-body {
  margin: 0;
}

.start-survay {
  font-size: 20px;
  border-radius: 15em;
  padding: 0.5em 3em;
}

.font-sidenav {
  margin: 20 px;
  font-size: 25px;
  text-align: center;
  /* padding-top: ; */

  color: #007bff;
}

.c-u {
  background-color: rgb(11, 194, 66);
  border: none;
}

.RNNXgb {
  display: flex;
  z-index: 3;
  height: 44px;
  background: #fff;
  border: 1px solid #4d82eca2;
  box-shadow: none;
  border-radius: 24px;
  margin: 0 auto;
  width: calc(632px + 6px);
  width: auto;
  max-width: 584px;
  min-width: fit-content;
}

.btn-raised:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.158);
}

.font-s {
  font-size: 13px;
  border-radius: 15px;
}
.font-l {
  font-size: 18px;
  border-radius: 15px;
}

.custom-toolbar {
  background-color: #0562c7;
  width: 100%;
  border-radius: 5px;
}

.custom-toolbar-1 {
  background-color: #ffffff;
  border: #007bff 1px solid;
  width: 95%;
  border-radius: 5px;
  justify-content: center;
}

.shadow-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.f-ls {
  font-size: 15px;
}

.footer {
  background: #e7e6e6f8;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

.f-footer {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(87, 87, 87);
}

.f-footer:hover {
  color: rgb(87, 87, 87);
}

.f-vasir-label {
  font-size: 18px;
}

input::placeholder {
  font-size: 11.5px;
  margin-top: 10px;
}

input {
  align-items: center;
}

.font-mini {
  font-size: 12px;
}

.font-maxi {
  font-size: 16px;
}

.matn {
  max-width: 550px;
  min-width: 350px;
}

.footer-size {
  width: 500px;
}

.button-hide {
  border: 0;
  background-color: #0562c7;
  direction: rtl;
}

.button-hide:focus {
  outline: none;
}

.b {
  margin: 15px;
  padding: 12px;
}
.b-v {
  transform: scale(0.7);
  margin-top: 0px;
}

@media (min-width: 450px) {
  #signup {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }

  #login {
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  }
}
