.card {
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.header {
  padding-right: 1rem;
  font-weight: bolder;
  font-size: 22px;
}
.icon {
  transform: scale(1.5);
}
