.card {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.devider {
  margin-top: 0.5rem;
}
.header {
  padding-right: 1rem;
  font-weight: bolder;
  font-size: 22px;
}
.icon {
  transform: scale(1.5);
}
