.card {
  background-color: rgb(245, 241, 241);
  margin-top: 2rem;
}
.devider {
  margin-top: 0.5rem;
}
.header {
  padding-right: 1rem;
  font-weight: bolder;
  font-size: 22px;
}
.icon {
  transform: scale(1.5);
}
